services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: scindongo_immo
      POSTGRES_USER: scindongo
      POSTGRES_PASSWORD: scindongo
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  web:
    build: .
    command: bash -c "python manage.py makemigrations accounts core catalog sales && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      POSTGRES_DB: scindongo_immo
      POSTGRES_USER: scindongo
      POSTGRES_PASSWORD: scindongo
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      REDIS_URL: redis://redis:6379/0
      DJANGO_DEBUG: "1"
    depends_on:
      - db
      - redis

volumes:
  postgres_data:
  redis_data:
